.mobsidebar-container{
    min-height: calc(100vh - 210px);;
    background: rgba(255, 255, 255, 0.445);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: none;
    /* max-height:  */
}
.mob-nav-container{
    min-height: 100vh;
    width: 260px;
    background-color: #e8f4ef;
    background-image: url(../../assets/images/nav-background.png);
    background-size: cover;
    background-position: center;
}
.mob-nav-wapper{
    padding-top: 20px;
}
.mob-close-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin-bottom: 8px;
}
.mob-close-btn-wrap button{
    outline: none;
    border: none;
    background: none;
    position: relative;
    right: 0;
}
.mob-nav-link-wrap{
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.mob-nav-link-wrap li a{
    text-decoration: none;
    padding: 8px 32px;
    color: #595a5b;
    font-size: 18px;
    -webkit-text-stroke: 1px;
    border-radius: 8px;
}
.mob-nav-link-wrap li a.active{
    color: #fff;
    background-color: #8bd66c;
}
.mob-nav-link-wrap li a.active:hover{
   border: 0;
}
.mob-nav-link-wrap li{
    margin: 12px 0px;
}
.mob-nav-link-wrap li a:hover{
    border: 2px solid #8bd66c;
}


.mobsidebar-active{
    display: block;
}

@media (max-width:480px){
    .mob-nav-link-wrap li a{
        font-size: 16px;
        line-height: 1;
    }
}